<div id="<%= dom_id student %>">
  <p>
    <strong class="mt-2 fs-3">Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong class="mt-2 fs-3">Age:</strong>
    <%= student.age %>
  </p>

  <p>
    <strong class="mt-2 fs-3">Track:</strong>
    <%= student.track.Name %>
  </p>

</div>
