<h1>Editing student</h1>

<%= render "form", student: @student %>

<br>

<div class="btn btn-primary">
  <%= link_to  "Show this student" , @student %> |
  <%= link_to "Back to students" , students_path %>
</div>
