<div id="<%= dom_id user %>">
  <p>
    <strong class="mt-2 fs-3">Name:</strong>
    <%= user.Name %>
  </p>

  <p>
    <strong class="mt-2 fs-3">Email:</strong>
    <%= user.Email %>
  </p>

  <p>
    <strong class="mt-2 fs-3">Password:</strong>
    <%= user.Password %>
  </p>

</div>
