<div id="<%= dom_id track %>">
  <p>
    <strong class="mt-2 fs-3">Name:</strong>
    <%= track.Name %>
  </p>

  <p>
    <strong class="mt-2 fs-3">Desc:</strong>
    <%= track.Desc %>
  </p>

  <p>
    <strong class="mt-2 fs-3">Logo:</strong>
    <%= track.logo %>
  </p>

</div>
