<h1>Editing track</h1>

<%= render "form", track: @track %>

<br>

<div class="btn btn-primary">
  <%= link_to "Show this track", @track %> 
  <p class="btn btn-info">
  <%= link_to "Back to tracks", tracks_path %>
  </p>
</div>
